-f https://download.pytorch.org/whl/torch_stable.html
Flask
python-dotenv
pymongo[srv]
transformers==4.5.0
sentencepiece==0.1.95
textwrap3==0.9.2
nltk==3.2.5
torch==1.9.1+cpu 
torchvision==0.10.1+cpu
pdfminer.six
gunicorn
pydictionary
flask-executor
# sentence_transformers
numba
# spacy
# benepar
# summa
# git+https://github.com/boudinfl/pke.git
# flashtext
# inflect
# flask-executor
# waitress
# random_word
# wordhoard
gensim
